.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todoItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #090909f0;
    padding: 10px;
    color: white;
    width: 400px;
    margin-bottom: 10px;
}

.checkBox {
    display: flex;
    align-items: center;
}

.checkBox .icon {
    margin-right: 5px;
    font-size: 15px;
}

.todoItem div .icon {
    margin: 0px 5px 0px 4px;
}

.todoItem div .icon {
    cursor: pointer;
}

.line_trough {
    text-decoration: line-through;
}